<% questions.each_with_index do |question| %>
<li id="question_id_<%= question['question_id'].to_i %>" class="template_question">
    <div class="grip_icon"></div>
    <div class="question_header">
        <input type="hidden" name="question[<%= question['question_id'].to_i %>][question_id]" class="question_id" value="<%= question['question_id'].to_i %>">
        <select class="template_question_type" name="question[<%= question['question_id'].to_i %>][question_type]">
            <option value="0" <%= selected="selected" if (question['question_type'] == "0") %> >Multiple Choice</option>
            <option value="1" <%= selected="selected" if (question['question_type'] == "1") %> >Short Answer</option>
            <option value="2" <%= selected="selected" if (question['question_type'] == "2") %> >Paragraph</option>
        </select>
        <span class="question_type_tooltip_icon" data-toggle="tooltip" data-placement="right" data-original-title="Have your candidates choose an answer from a list of options"></span>
        <div class="question_header_actions">
            <button type="button" class="duplicate_btn_icon"></button>
            <button type="button" class="delete_btn_icon"></button>
        </div>
    </div>
    <div class="question_title">
        <input class="question_title_field" name="question[<%= question['question_id'].to_i %>][question_title]" type="text" value="<%= question['question_title'] %>">
        <button type="button" class="question_image"></button>
    </div>
    <div class="question_option">
        <div class="multiple_choice">
        <% if question["question_options"].present? %>
            <% question["question_options"].each do | question_option | %>
            <div class="question_option_item">
                <div class="option_cirle"></div>
                <input class="question_option_field" name="question[<%= question['question_id'].to_i %>][question_options][]" type="text" value="<%= question_option %>">
                <button type="button" class="question_option_delete_btn"></button>
            </div>
            <% end %>
        <% end %>
        <% if question["question_type"] == "0" %>
        <div class="question_option_action">
            <div class="option_cirle"></div>
            <button type="button" class="add_question_option"><span>Add Option</span> or press Enter or Tab key</button>
        </div>
        <% elsif question["question_type"] == "1" %>
            <input type="text" class="short_answer_option" placeholder="Short answer text">
        <% else %>
            <input type="text" class="long_answer_option" placeholder="Long answer text">
        <% end %>
        </div>
        <div class="short_answer hidden">
            <input type="text" class="short_answer_option" placeholder="Short answer text">
        </div>
        <div class="paragraph hidden">
            <input type="text" class="long_answer_option" placeholder="Long answer text">
        </div>
    </div>
</li>
<% end %>
